build
pkg/
/src/
*.pkg.tar*
virtdev-git/
libexec/virtdev/virtdev-exchange
libexec/virtdev/virtdev-copy-tree
libexec/virtdev/virtdev-archive-gate
libexec/virtdev/virtdev-file-state
libexec/virtdev/virtdev-publish
libexec/virtdev/virtdev-remove-tree
man/*.[1-8]
